{{! <div id="logo">
  <img src="/public/images/resale.png" alt="Resale Logo" />
</div> }}
<div class="topnav">
  <div>
    <div id="logo">
      <img src="/public/images/resale.png" alt="resale logo" class="logoimg" />
    </div>
    <a class="active" href="#home">Home</a>
    <a href="/about">About</a>
    <a href="#contact">Statistics</a>
  </div>
  <div class="search-container">
    {{#if user}}
      {{! prettier-ignore }}
      <a href="/user/{{user._id}}">Hello, {{user.firstName}}!</a>
      <a href="/products/new">Sell Products</a>
    {{else}}
      <a id="a-login" href="/login">Login</a>
    {{/if}}

    <input
      type="text"
      id="myInput"
      onkeyup="searchBar()"
      placeholder="Find products.."
    />
    <button
      class="btn btn-outline-secondary"
      onClick="clearInput()"
      id="clearButton"
    ><span id="respClearText">Clear</span></button>
  </div>
</div>
<div id="filterDivButton">
  <button
    class="btn btn-primary"
    data-bs-toggle="offcanvas"
    data-bs-target="#filterSidebar"
    aria-controls="filterSidebar"
    type="button"
  >☰</button>
</div>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="filterSidebar"
  aria-labelledby="filterSidebarleLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="filterSidebarLabel">Filter Products</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div id="priceDiv">
      By Price:
      <br />
      <label for="price">Price below: $<span id="priceVal"></span></label><br />
      <span class="sliderTextValue">0</span><input
        name="price"
        type="range"
        min="10"
        max="1000"
        value="1000"
        class=""
        id="price"
        onchange="filterByPrice()"
      /><span class="sliderTextValue">1000</span><br />
    </div>
    <div id="locDiv">
      By Location:<br />
      <input type="checkbox" name="location" value="NY" id="NewYork" checked />
      <label for="NewYork">NY</label><br />
      <input
        type="checkbox"
        id="NewJersey"
        name="location"
        value="NJ"
        checked
      />
      <label for="NewJersey">NJ</label><br />
      <button
        onclick="filterLocation()"
        class="sidebarButton btn btn-primary"
      >Set Location Filter</button>
    </div>
    <div id="categoryDiv">
      By Category:<br />
      <input type="checkbox" name="category" value="Books" id="Books" checked />
      <label for="Clothing">Books</label><br />
      <input
        type="checkbox"
        name="category"
        value="Clothing"
        id="Clothing"
        checked
      />
      <label for="Clothing">Clothing</label><br />
      <input
        type="checkbox"
        name="category"
        value="Electronics"
        id="Electronics"
        checked
      />
      <label for="Electronics">Electronics</label><br />
      <input
        type="checkbox"
        name="category"
        value="Footwear"
        id="Footwear"
        checked
      />
      <label for="Footwear">Footwear</label><br />
      <input
        type="checkbox"
        name="category"
        value="Furniture"
        id="Furniture"
        checked
      />
      <label for="Furniture">Furniture</label><br />
      <input
        type="checkbox"
        name="category"
        value="Household"
        id="Household"
        checked
      />
      <label for="Household">Household</label><br />
      <input
        type="checkbox"
        name="category"
        value="Kitchenware"
        id="Kitchenware"
        checked
      />
      <label for="Kitchenware">Kitchenware</label><br />
      <input
        type="checkbox"
        name="category"
        value="Office"
        id="Office"
        checked
      />
      <label for="Office">Office and Supplies</label><br />
      <input
        type="checkbox"
        name="category"
        value="Storage"
        id="Storage"
        checked
      />
      <label for="Storage">Storage</label><br />
      <input type="checkbox" name="category" value="Other" id="Other" checked />
      <label for="Other">Other</label><br />
      <button
        onclick="filterCategory()"
        class="sidebarButton btn btn-primary"
      >Set Category Filter</button>
    </div>
    <div id="clearAllDiv">
      <button
        id="clearAll"
        onclick="clearAllFilters()"
        class="sidebarButton btn btn-danger"
      >Clear All Filters</button>
    </div>
  </div>
</div>

{{#each products}}
  <div class="card prodCard">
    <div class="card-header">{{name}}
      {{! <button type="button" class="btn btn-outline-danger">
        <i class="bi bi-heart"></i>
      </button>  }}
    </div>
    <div class="divimage">
      <img src={{images}} class="card-img-top" alt="{{name}}" />
    </div>
    <div class="card-body">
      <h5 class="card-title">${{price}}</h5>
      <p class="card-text">
        Condition:
        {{condition}}<br />
        Location:
        {{location.city}},
        <span class="locationState">{{location.state}}</span><br />
        Date Listed:
        {{dateListed}}
      </p>
      <p class="card-category" hidden>{{category}}</p>
      <a href="/products/get/{{_id}}" class="btn btn-primary">View item</a>
    </div>
  </div>
{{/each}}
<script src="/public/js/clientside.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<script src="sweetalert2.all.min.js"></script>