<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send email to
          {{seller.firstName}}
          {{seller.lastName}}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="emailButClose"
        ></button>
      </div>
      <div class="modal-body">
        <form
          method="POST"
          action="/products/post/{{product._id}}"
          name="emailForm"
          id="emailForm"
        >
          <label for="message" class="emailLabel">Message:</label><br />
          <textarea name="message" rows="5" cols="50"></textarea>
          <input
            type="text"
            id="nameOfSeller"
            name="nameOfSeller"
            value="{{seller.firstName}} {{seller.lastName}}"
            hidden
          />
          <input
            type="text"
            id="emailOfSeller"
            name="emailOfSeller"
            value="{{seller.email}}"
            hidden
          />
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Discard</button>
        <button
          type="submit"
          class="btn btn-primary"
          form="emailForm"
          id="emailFormSubmit"
        >Send Email</button>
      </div>
    </div>
  </div>
</div>
<main class="container">
  <div class="left-column">
    {{! prettier-ignore }}
    <img class="active" src="{{product.images.[0]}}" alt="{{product.name}}" />
  </div>

  <div class="right-column">

    <div class="product-description">
      <h1>{{title}}</h1>
      <label for="favourite" class="custom-checkbox" id="favLabel">
        <input type="checkbox" id="favourite" onclick="favouriteProduct()" />
        <i class="bi bi-star" id="favProdIcon"></i>
      </label>
      <h4>Price: <span>${{product.price}}</span></h4>
      <p>{{product.description}}</p>
    </div>

    <div class="product-configuration">
      <div class="product-details">
        <span>Listed by:</span>
        <span hidden id="sellerEmail">{{seller.email}}</span>
        <p id="sellerName">{{seller.firstName}} {{seller.lastName}}</p>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        ><i class="bi bi-envelope"></i></button><br />
        <span>Location:</span>
        <p>{{product.location.streetAddress}},
          {{product.location.city}},
          {{product.location.state}},
          {{product.location.zip}}</p><br />
        <span>Condition:</span>
        <p>{{product.condition}}</p><br />
        <span>Date Listed:</span>
        <p>{{product.dateListed}}</p>
      </div>
    </div>
    <div class="product-comments">
      <form
        id="commentForm"
        method="POST"
        action="/comments/add/{{product._id}}"
      >
        <div class="commentBox">
          <label for="commentBox">
            <textarea
              id="commentBox"
              name="commentBox"
              placeholder="Enter your comment"
            ></textarea>
          </label>
        </div><br />
        <button type="button" class="btn btn-success" id="submitComment">Post
          Comment</button>
      </form>
      <div class="list-group" id="displayedComments">
        {{#comments}}
          <div
            class="list-group-item list-group-item-action"
            aria-current="true"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1 commentUserName">{{userName}}</h5>
              <img
                src={{profilePicture}}
                alt={{userName}}
                class="commentImgs"
              />
            </div>
            <p class="mb-1">{{comment}}</p>
            <small class="dateAdded">{{dateAdded}}</small>
            {{! <small>And some small print.</small> }}
          </div>
        {{/comments}}
      </div>
    </div>
  </div>
</main>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"
></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="/public/js/clientside2.js"></script>