<div
  class="modal fade"
  id="ratingModal"
  tabindex="-1"
  aria-labelledby="ratingModalLabel"
  aria-hidden="true"
>
  <input type="hidden" id="product_id" value="{{product.seller._id}}" />
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="ratingModalLabel">Rate
          {{product.seller.firstName}}
          {{product.seller.lastName}}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="ratingButClose"
        ></button>
      </div>
      <div class="modal-body">
        <form
          method="POST"
          action="/users/rate/{{product.seller_id}}"
          id="ratingForm"
        >
          <span class="star-rating">
            <input type="radio" name="rating" value="1" /><i></i>
            <input type="radio" name="rating" value="2" /><i></i>
            <input type="radio" name="rating" value="3" /><i></i>
            <input type="radio" name="rating" value="4" /><i></i>
            <input type="radio" name="rating" value="5" /><i></i>
          </span>
        </form>
        <div
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
          id="ratingAlert"
        >
          <span id="ratingMsgAlert"></span>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            id="closeRatingAlert"
          ></button>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Discard</button>
        <button
          type="submit"
          class="btn btn-primary"
          form="ratingForm"
          id="ratingFormSubmit"
        >Rate</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="emailModal"
  tabindex="-1"
  aria-labelledby="emailModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="emailModalLabel">Send an email to
          {{product.seller.firstName}}
          {{product.seller.lastName}}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="emailButClose"
        ></button>
      </div>
      <div class="modal-body">
        <form
          method="POST"
          action="/products/post/{{product._id}}"
          name="emailForm"
          id="emailForm"
        >
          <label for="message" class="emailLabel">Message:</label><br />
          <textarea name="message" class="form-control" id="message"></textarea>
          <input
            type="text"
            id="nameOfSeller"
            name="nameOfSeller"
            value="{{product.seller.firstName}} {{product.seller.lastName}}"
            hidden
          />
          <input
            type="text"
            id="emailOfSeller"
            name="emailOfSeller"
            value="{{product.seller.email}}"
            hidden
          />
          <input
            type="text"
            id="idOfSeller"
            name="idOfSeller"
            value="{{product.seller_id}}"
            hidden
          />
          <div
            class="alert alert-warning alert-dismissible fade show"
            role="alert"
            id="emailAlert"
          >
            <span id="emailMsgAlert"></span>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              id="closeEmailAlert"
            ></button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Discard</button>
        <button
          type="submit"
          class="btn btn-primary"
          form="emailForm"
          id="emailFormSubmit"
        >Send Email</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="bidModal"
  tabindex="-1"
  aria-labelledby="bidModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="bidModalLabel">Bid on {{product.name}}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="bidButClose"
        ></button>
      </div>
      <div class="modal-body">
        <form
          method="POST"
          action="/bids/add/{{product._id}}"
          name="bidForm"
          id="bidForm"
        >
          <label for="bidPrice" class="bidLabel">Enter bid amount:</label>
          <input type="number" class="form-control" id="bidPrice" name="bidPrice">
          <div
            class="alert alert-warning alert-dismissible fade show"
            role="alert"
            id="bidAlert"
          >
          <input type="text" id="sellerId" name = "sellerId" value="{{product.seller_id}}" hidden>
          <span id="bidMsgAlert"></span>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              id="closeBidAlert"
            ></button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Discard</button>
        <button
          type="submit"
          class="btn btn-primary"
          form="bidForm"
          id="bidFormSubmit"
        >Place Bid</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="viewBidModal"
  tabindex="-1"
  aria-labelledby="viewBidModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="viewBidModalLabel">View bids for {{product.name}}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="viewBidButClose"
        ></button>
      </div>
      <div class="modal-body">
    {{#if update}}
    {{#if bids}}
    <table>
      <tr class="text-center">
        <th>Name of User</th>
        <th>Email</th>
        <th>Bid Amount</th>
        <th>Accept</th>
      </tr>
      {{#each bids}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.price}}</td>
        <td><a class="btn btn-success bidAcc" href="/bids/accept/{{this._id}}">Accept</a></td>
      </tr>
      {{/each}}
    </table>
    {{else}}
    <p>There are no bids for {{product.name}} yet.</p>
    {{/if}}
    {{/if}}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Discard</button>
      </div>
    </div>
  </div>
</div>

{{>navbar}}
<main class="container productCont">
  <div class="left-column">
    {{! prettier-ignore }}
    <div id="prodImageCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {{#each product.images}}
          {{#if @first}}
            <div class="carousel-item active">
              <img src={{this}} class="d-block w-100" alt="{{../product.name}}" />
            </div>
          {{else}}
            <div class="carousel-item">
              <img src={{this}} class="d-block w-100" alt="{{../product.name}}" />
            </div>
          {{/if}}
        {{/each}}
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#prodImageCarousel"
        data-bs-slide="prev"
        aria-label="Previous Image"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#prodImageCarousel"
        data-bs-slide="next"
        aria-label="Next Image"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
    {{#if rec}}
    <div id="recProdDiv">
      <h3>Recommended Products</h3>
      <p>These recommendations are based on the category of this product.</p>
    <div class="scrollmenu menu2">
      {{#each rec}}
      <div class="card userCard card2">
        <div class="card-header">{{this.name}}</div>
          <div class="divimage divimg2">
            <img src={{this.images}} class="card-img-top" alt="{{this.name}}">
          </div>
        <div class="card-body">
          <h4 class="card-title">${{this.price}}</h4>
        <a href="/products/get/{{this._id}}" class="btn btn-primary">View Item</a>
      </div>
    </div>  
  {{/each}}
  {{/if}}
    </div>
    </div>
  </div>

  <div class="right-column">
    {{#if update}}
      <div class="btn-group" role="group" aria-label="UpdateViewBids">
        <a href="/products/edit/{{product._id}}" class="btn btn-dark">Update</a>
        {{#if product.isSold}}{{else}}
        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewBidModal">View Bids</a>
        {{/if}}
      </div>
    {{/if}}
    <div class="product-description">
      {{#if product.isSold}}
        <span class="sold">SOLD</span><br />
      {{/if}}
      <h1 id="prodTitle">{{title}}</h1>
      <label for="favourite" class="custom-checkbox" id="favLabel">
        <input type="checkbox" id="favourite" class="custom-checkbox" />
        {{#if fav}}
          <i class="bi bi-star-fill" id="favProdIcon"></i>
        {{else}}
          <i class="bi bi-star" id="favProdIcon"></i>
        {{/if}}
      </label>
      <h2>Price: <span id="prodPriceSpan">${{product.price}}</span></h2>
      <p>{{product.description}}</p>
      <span hidden id="prodID">{{product._id}}</span>
    </div>

    <div class="product-configuration">
      <div class="product-details">
        <span>Listed by:</span>
        <span hidden id="sellerEmail">{{product.seller.email}}</span>
        <p id="sellerName">{{product.seller.firstName}}
          {{product.seller.lastName}}</p>
        {{#if update}}{{else}}
        <span data-bs-toggle="modal" data-bs-target="#emailModal">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          data-bs-toggle="tooltip" data-bs-placement="bottom" title="Send an email to {{product.seller.firstName}} {{product.seller.lastName}}"
          aria-label="Send an email to {{product.seller.firstName}} {{product.seller.lastName}}"
        ><i class="bi bi-envelope"></i></button></span>
        <span data-bs-toggle="modal" data-bs-target="#ratingModal">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          data-bs-toggle="tooltip" data-bs-placement="bottom" title="Rate {{product.seller.firstName}} {{product.seller.lastName}}"
          aria-label="Rate {{product.seller.firstName}} {{product.seller.lastName}}"
        ><i class="bi bi-hand-thumbs-up"></i><i
            class="bi bi-hand-thumbs-down"
          ></i></button></span>
          <button
            id="btn-chat"
            type="button"
            class="btn btn-primary btn-sm"
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Chat with {{product.seller.firstName}} {{product.seller.lastName}}"
            aria-label="Chat with {{product.seller.firstName}} {{product.seller.lastName}}"
          ><i class="bi bi-chat-dots"></i></button>
          <span data-bs-toggle="modal" data-bs-target="#bidModal">
          <button 
            id="btn-bid"
            data-bs-toggle="tooltip" 
            data-bs-placement="bottom" 
            class="btn btn-primary btn-sm"
            title="Bid on {{product.name}}"
           ><i class="bi bi-credit-card"></i></button></span>
        {{/if}}
        <br />
        <span>Location:</span>
        <p>{{product.location.streetAddress}},
          {{product.location.city}},
          {{product.location.state}},
          {{product.location.zip}}</p><br />
        <span>Condition:</span>
        <p>{{product.condition}}</p>
        <iframe
          id="map"
          width="270"
          height="90"
          style="border: 0"
          loading="lazy"
          aria-label= "Map showing location of {{product.name}}"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBgqgmmci-betNBsxNduESqCjxD3BQTTRE&q={{product.streetUrl}},{{product.cityUrl}},{{product.location.state}}+{{product.location.zip}}"
        >
        </iframe><br />
        <span>Listed: </span>
        <p>{{product.daysAgo}}</p>
      </div>
    </div>
    <div class="product-comments">
      <form
        id="commentForm"
        method="POST"
        action="/comments/add/{{product._id}}"
      >
        <label for="commentBox">
          <textarea
            class="form-control"
            id="commentBox"
            name="commentBox"
            placeholder="Enter your comment"
            cols="70"
            rows="3"
            aria-label= "Write a comment"
          ></textarea>
        </label>
        <br />
        <div
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
          id="commentAlert"
        >
          <span id="commentMsgAlert"></span>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            id="closeCommentAlert"
          ></button>
        </div>
        <button type="button" class="btn btn-success" id="submitComment">Post
          Comment</button>
      </form>
      <div class="list-group" id="displayedComments">
        {{#comments}}
          <div
            class="list-group-item list-group-item-action"
            aria-current="true"
          >
            <span class="commId" hidden>{{_id}}</span>
            <div class="d-flex w-100 justify-content-between">
              <h3 class="mb-1 commentUserName">{{userName}}</h3>
              <img
                src={{profilePicture}}
                alt="{{userName}}"
                class="commentImgs"
              />
            </div>
            <p class="mb-1">{{comment}}</p>
            <small class="dateAdded">{{dateAdded}}</small>
            <button class="btn btn-danger btn-sm" id={{_id}}>Delete</button>
          </div>
        {{/comments}}
      </div>
    </div>
  </div>
</main>

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="/public/js/clientside2.js"></script>