<main>
     <div>
  <img src="../../public/images/{{profilePicture}}" class="profilePic"/>

  </div>
  <div class="userp">
    First name:
    {{firstName}}

  </div>
  <div class="userp">
    Last Name:
    {{lastName}}

  </div>
  
  <div class="userp">
    Email:
    {{email}}

  </div>
   <div class="userp">
    Phone Number:
    {{phoneNumber}}

  </div>
     <div class="userp">
    User Name :
    {{userName}}

  </div>
  
     <div class="userp">
    Date of Birth:
    {{dob}}

  </div>
    <div class="userp">
    Gender:
    {{gender}}

  </div>
    <div class="row">
    <div class="col-md-2">Address Street:</div>
    <div class="col-md-10">
    {{address.streetAddress}}
    <div>
      {{address.city}}
    </div>
    <div>
      {{address.state}}
    </div>
    <div>
      {{address.zip}}
    </div>
    </div>
    

  </div>
  </div>
    <div class="userp">
    Biography:
    {{biography}}

  </div>
   </div>
    <div class="userp">
    Rating:
    {{rating}}

  </div>
   <div class="row">
    <div class="col-md-2">    Listed Products:</div>
    <div class="col-md-10">{{#each listedProducts}}
    <span >
         <img class="small-card" src="../../public/uploads/{{this}}"/>
    </span>
             {{/each}}</div>
    


  </div>
   <div class="row">
    <div class="col-md-2"> Favourite Products:</div>
    <div class="col-md-10">  {{#each favouriteProducts}}
      <span >
        <img class="small-card" src="../../public/uploads/{{this}}"/>
    </span>
    {{/each}}
</div>
   
  </div>
</main>

